*{
    font: Verdana;
}
#banerlewy{
    background-color: #29434E;
    color: white;
    width: 70%;
    height: 70px;
    float: left;
}
#banerprawy{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: left;
}
#polecamy,#fantastyczne{
    background: #B0BEC5;
    clear: both;
    width: 100%;
    height: 320px;
    overflow: scroll;
}
#stopka{
    background: #29434E;
    color: white;
    clear: both;
}
h3{
    background: #546E7A;
    color: white;
    margin: 0px;
}
h4{
    text-align: center;
    margin: 0px;
}
#film{
    padding: 5px;
    width: 226px;
    height: 280px;
    float: left;
}
