*{
    font-family: Helvetica;
}
#baner,#stopka{
    background-color: #AF4448;
    color: white;
    height: 20px;
    text-align: center;
}
#lewy,#prawy{
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;
}
h4{
    margin: 0px;
}
#sub{
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}